<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        details for {{ school.name }}
    </title>
    <link rel="stylesheet" href='{% static 'css/schooldetails.css' %}?{% now "U" %}'>
</head>
<body>
    <div class="navbar">
        <div class="logo"><a>secondary school placement system</a></div> 
        <a href="/dashboard">Dashboard</a>
        <a href="/school">Schools</a>
        <a href="/about">About</a>  
        <a href="/profile">Profile</a>  
    </div>

    <div class="welcome-message">
            <p>details for {{ school.name }}</p>
    </div>

    <div class="main-content">
        <!-- School Placement Information -->
        <div class="school-placement">
            <p><strong>Name    :</strong> <span>{{ school.name }}</span></p>
            <p><strong>Email   :</strong> <span><a href="mailto:{{ school.email }}">{{ school.email }}</a></span></p>
            <p><strong>Phone   :</strong> <span>{{ school.contact_number }}</span></p>
            <p><strong>Location:</strong> <span>{{ school.location }}</span></p>
            <p><strong>Province:</strong> <span>{{ school.province }}</span></p>
            <p><strong>Capacity:</strong> <span>{{ school.student_capacity }}</span></p>
            <p><strong>Type    :</strong> <span>{{ school.type }}</span></p>
            <a href="/school" class="cta-button1">back</a> <a href="/application_form" class="cta-button2">apply</a>
        </div>

    </div>

    <footer>
        <p>Contact Us: <a href="mailto:schoolservices3@gmail.com" class="dec">schoolservices3@gmail.com</a></p>
        <p>&copy; 2024</p>
    </footer>
</body>
</html>