<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        details for {{ school.name }} | Secondary School Placement System
    </title>
    <link rel="stylesheet" href='{% static 'css/schooldetails.css' %}?{% now "U" %}'>
</head>
<body>
    <div class="navbar">
        <div class="logo"><a>secondary school placement system</a></div> 
        <a href="/dashboard">Dashboard</a>
        <a href="/school">Schools</a>
        <a href="/update_information">Change Information</a>  
          
    </div>

    <div class="welcome-message">
            <p>details for {{ school.name }}</p>
    </div>

    <div class="main-content">
        <section id="overview" class="dashboard-section">
            <div class="stats">
                <div class="stat-box">
                    <h3>School Email</h3>
                    <p><span><a href="mailto:{{ school.email }}">{{ school.email }}</a></span></p>
                </div>
                <div class="stat-box">
                    <h3>School Location</h3>
                    <p><span>{{ school.province }} {{ school.location }}</span></p>  

                </div>
            </div>
        
        <div class="school-placement">
            <p><strong>Grade 12 Capacity:</strong> <span>{{ school.grade_12_capacity }}</span> | <strong>Available Space: </strong><span>{{ school.available_space_grade_12 }}</span></p>
            <p><strong>Grade 11 Capacity:</strong> <span>{{ school.grade_11_capacity }}</span> | <strong>Available Space: </strong><span>{{ school.available_space_grade_11 }}</span></p>
            <p><strong>Grade 10 Capacity:</strong> <span>{{ school.grade_10_capacity }}</span> | <strong>Available Space: </strong><span>{{ school.available_space_grade_10 }}</span></p>
            <p><strong>Grade 9 Capacity:</strong> <span>{{ school.grade_9_capacity }}</span> | <strong>Available Space: </strong><span>{{ school.available_space_grade_9 }}</span></p>
            <p><strong>Grade 8 Capacity:</strong> <span>{{ school.grade_8_capacity }}</span> | <strong>Available Space: </strong><span>{{ school.available_space_grade_8 }}</span></p> 
            <p><strong>school Capacity:</strong> <span>{{ school.school_capacity }}</span> | <strong> total Available Space: </strong><span>{{ school.total_available_space }}</span></p>  
            <a href="/school" class="cta-button1">back</a>
        </div>

    </div>

    <footer>
        <p>Contact Us: <a href="mailto:schoolservices3@gmail.com" class="dec">schoolservices3@gmail.com</a></p>
        <p>copyright ©2024 Secondary School Placement System</p>
    </footer>
</body>
</html>