<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Available schools
        </title>
        <link rel="stylesheet" href='{% static 'css/schools.css' %}?{% now "U" %}'>
    </head>
    <body>
        {% comment %} Navigation Bar  {% endcomment %}
        <div class="navbar">
            <a href="/dashboard">Dashboard</a>
            <a href="/school">Schools</a>
            <a href="#">About</a>  
            <a href="#">Profile</a>  
            <form action="/school" method="POST" class="search-form">
                <input type="text" name="query" placeholder="Search Schools..." class="search-input">
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>

       
        <div class="content">

            <h1>Available Schools</h1>
            <ul>
                {% for school in schools %}
                    <li><a class="dec" href="{% url 'school_details' id=school.id %}">{{ school.name }}</a></li>
                {% endfor %}
            </ul>

        </div>
        {% comment %} </div> {% endcomment %}
        
        {% comment %} footer form  {% endcomment %}
        <footer>
            <p>Contact Us: <a href="mailto:cossamsoko7@gmail.com" class="dec">schoolservices3@gmail.com</a></p>
            <p>copyright @2024</p>
        </footer>
        
    </body>
</html>

