<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Available schools
        </title>
        <link rel="stylesheet" href='{% static 'css/schools.css' %}?{% now "U" %}'>
    </head>
    <body>
        {% comment %} Navigation Bar  {% endcomment %}
        <div class="navbar">
            <div class="logo"><a>secondary school placement system</a></div> 
            <a href="/dashboard">Dashboard</a>
            <a href="/school">Schools</a> 
            <a href="">change information</a> 
            <form action="/school" method="POST" class="search-form">
                <input type="text" name="query" placeholder="Search Schools..." class="search-input">
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>

       
        <div class="content">

            {% comment %} <h1>Available Schools</h1>
            <ul>
                {% for school in schools %}
                    <li><a class="dec" href="{% url 'school_details' id=school.id %}">{{ school.name }}</a></li>
                {% endfor %}
            </ul> {% endcomment %}
            <table class="school-table">
                <h1>Available schools</h1>
                <th>school name</th>
                <th>school province</th>
                <th>Actions</th>

                {% for school in schools %}
                    <tr>
                        <td>{{ school.name }}</td>
                        <td>{{ school.province }}</td>
                        <td><a href="{% url 'school_details' id=school.id %}" class="cta-button1">view</a></td>
                    </tr>
                {% endfor %}

            </table>

        </div>
        {% comment %} </div> {% endcomment %}
        
        {% comment %} footer form  {% endcomment %}
        <footer>
            <p>Contact Us: <a href="mailto:cossamsoko7@gmail.com" class="dec">schoolservices3@gmail.com</a></p>
            <p>copyright @2024</p>
        </footer>
        
    </body>
</html>

