<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            school-login | Secondary School Placement System
        </title>
        <link rel="stylesheet" href='{% static 'css/login.css' %}?{% now "U" %}'>
    </head>
    <body>
        {% comment %} Navigation Bar  {% endcomment %}
        <div class="navbar">
            <div class="logo"><a>secondary school placement system</a></div>  
            <a href="/">Home</a>
            <a href="/pupil_login">Login</a>
            <a href="/signup">Signup</a> 
            <a href="/school_signup">school signup</a>  
        </div>

        {% comment %} Login Form  {% endcomment %}
        <div class="login-container">
            <h2>school login</h2>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="school name " required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Login">
                {% if error %}
                    <p style="color: red;text-align:center;">{{ error }}</p>
                {% endif %}
            </form>
        </div>

        {% comment %} footer form  {% endcomment %}
        <footer>
            <p>Contact Us: <a href="mailto:cossamsoko7@gmail.com" class="dec">schoolservices3@gmail.com</a></p>
            <p>copyright @2024</p>
        </footer>
        
    </body>
</html>


