<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Dashboard | Secondary School Placement System</title>
    <link rel="stylesheet" href='{% static 'css/schooldashboard.css' %}?{% now "U" %}'>
</head>
<body>
    <div class="navbar">
        <div class="logo"><a>secondary school placement system</a></div>
        <a href="/school_dashboard">Dashboard</a>
        <a href="{% url 'notifications:school_notifications' %}">Notifications</a>
        <div class="logout"><a href="/school_login">logout</a></div>  
    </div>
    <div class="container">
        
        <nav class="sidebar">
            <h2>{{ school.name }}</h2>
            <ul>
                <li><a href="#overview">Overview</a></li>
                <li><a href="/pupil_applications">Check Pending Applications</a></li>
                <li><a href="#settings">Settings</a></li>
            </ul>
        </nav>

    
        <main class="dashboard-content">

            <section id="overview" class="dashboard-section">
                <h1>Dashboard Overview</h1>
                <div class="stats">
                    <div class="stat-box">
                        <h3>School Capacity</h3>
                        <p>{{ school.school_capacity }}</p>
                    </div>
                    <div class="stat-box">
                        <h3>Total Available Space</h3>
                        <p>{{ school.total_available_space }}</p>
                    </div>
                    <div class="stat-box">
                        <h3>Total Enrolled Pupils</h3>
                        <p>{{ school.total_enrollment }}</p>
                    </div>
                    <div class="stat-box">
                        <h3>Pending Applications</h3>
                        <p>{{ pending_count }}</p>
                    </div>
                </div>
                <div class="main-content">
                    <div class="school-placement">      
                        <p><strong>Name: </strong> <span>{{ school.name }}</span></p>
                        <p><strong>Email: </strong> <a href="mailto:{{ school.email }}"><span>{{ school.email }}</span></a></p>
                        {% comment %} <p><strong>Address:</strong> <span>{{ school.address }}</span></p> 
                        <p><strong>Location:</strong> <span>{{ school.location }}</span></p> {% endcomment %}
                        <p><strong>Province: </strong><span>{{ school.province }}</span></p>
                        <p><strong>Joined: </strong><span>{{ school.date_joined }}</span></p>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <footer>
        <p>Contact Us: <a href="mailto:schoolservices3@gmail.com" class="dec">schoolservices3@gmail.com</a></p>
        <p>copyright ©2024 Secondary School Placement System</p>
    </footer>
</body>
</html>
