@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #4CAF50;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #45a049;
}

.div2 {
    color: #555;
    text-align: right;
    padding-right: 20px;
}

.div2 h2{
    font-size: 2.0em;
    margin-bottom: 7px;
}
  
.div2 p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

a.dec:hover {
    text-decoration: underline;
}

footer {
    background-color: #f1f1f1;
    color: #555;
    padding: 20px;
    text-align: center;
}
  
footer p {
    margin: 3px 0;
}

a {
    color: #007bff;
    text-decoration: none;
}
  
a.dec:hover {
    text-decoration: underline;
}
  