@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body, html {
    height: 100%;
    margin: 0;
}

.content {
    flex: 1;
}

.navbar {
    background-color: #4CAF50;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #45a049;
}

.logo a {
    font-style: italic;
    color: white;
    float: left;
    font-size: medium;
    background-color: #3ece45;
}

.logo a:hover {
    background-color: #3ece45;
}

h1 {
    text-align: center;
    color: #555;
    margin: 10px 0 40px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #ffffff;
<<<<<<< HEAD
    background-size: 50px 60px;
    background-repeat: no-repeat;
=======
>>>>>>> testing
    cursor: pointer;
    transition: transform .25s;
    border-radius: 5px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    padding: 15px;
    padding-left: 70px;
    margin-top: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a.dec:hover {
    text-decoration: underline;
}

.search-button {
    margin-bottom: 10px;
}

.search-button button {
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 45%;
}

.search-button button:hover {
    background-color: #0056b3;
}

.school-table, .results-table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;
}

.school-table th, .results-table th, .school-table td, .results-table td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
}

.school-table th, .results-table th {
    background-color: #f2f2f2;
}

.school-table tr:nth-child(even), .results-table tr:nth-child(even) {
    background-color: #f9f9f9; 
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta-button1 {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;
}

.cta-button1:hover {
    background-color: #007bff; 
}

footer {
    background-color: #f1f1f1;
    color: #555;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 3px 0;
}

