{% extends "master.html" %}


{% block title %}
    secondary school placement system
{% endblock %}

{% block content %}

<main>
    <div class="main">

        <section class="hero">
            <h1>Welcome to Our Secondary School Placement System</h1>
            <p>Apply for admission, track your application status, and more.</p>
            <a href="" class="cta-button">START APPLICATION</a>
        </section>

        <section class="info">
            <div class="applicant-info">
                <h2>For Applicants</h2>
                <p>
                    This system is for pupils (applicants) transitioning either from 
                    primary schools to secondary schools or secondary schools to secondary 
                    schools.
                </p>
                <p><a class="dec" href="/school">available schools</a></p>
            </div>
            <div class="staff-info">
                <h2>For Schools</h2>
                <a href="/school_login" class="cta-button">school login</a>
                <p>Note: Restricted to only Goverement schools.</p>

                <!-- <p><a href="">Manage Applications</a></p>
                <p><a href="">View Notifications</a></p>
                <p><a href="">View Reports</a></p> -->
            </div>
        </section>
    </div>
</main>

<footer>
    <p>Contact Us: <a class="dec" href="mailto:cossamsoko7@gmail.com">schoolservices3@gmail.com</a></p>
    <p>copyright @2024</p>
</footer>

{% endblock %}
