<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            login
        </title>
        <link rel="stylesheet" href='{% static 'css/login.css' %}?{% now "U" %}'>
    </head>
    <body>
        {% comment %} Navigation Bar  {% endcomment %}
        <div class="navbar">
            <div class="logo"><a>secondary school placement system</a></div>    
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>  
        </div>

        {% comment %} Login Form  {% endcomment %}
        <div class="login-container">
            <h2>student login</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="text" name="username" placeholder="Username or Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Login">
            </form>
            <div class="forgot-password">
                <a href="#">Forgot your password?</a>
            </div>
        </div>

        {% comment %} footer form  {% endcomment %}
        <footer>
            <p>Contact Us: <a href="mailto:cossamsoko7@gmail.com" class="dec">schoolservices3@gmail.com</a></p>
            <p>copyright @2024</p>
        </footer>
        
    </body>
</html>


