<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %} 
            
            {% endblock %}
        </title>
        <link rel="stylesheet" href='{% static 'css/styles.css' %}?{% now "U" %}'>
    </head>
    <body>
        <div class="navbar">
            <a href="/">Home</a>  
            <a href="/login">Login</a>
            <a href="/signup">Signup</a> 
            <a href="/about">About</a>    
        </div>

        {% block content %}

        {% endblock %}

    </body>
</html>