{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Status | Secondary School Placement System</title>
    <link rel="stylesheet" href='{% static 'css/applicationstatus.css' %}?{% now "U" %}'>

<body>
    <div class="status-container">
        <div class="status-header">
            <h1>My Applications</h1>
            <button onclick="window.history.back();" class="close-button">✖</button>
        </div>
        <div class="status-content">
            {% comment %} <p>Status: {{ application.status }}</p>
            <p>Date Applied: {{ application.date_applied }}</p> {% endcomment %}
            <h1>No Application Found</h1>
            <p>You do not have an application submitted yet.</p>
        </div>
    </div>
</body>
</html>