<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pupil Dashboard</title>
    <link rel="stylesheet" href='{% static 'css/landingpage.css' %}?{% now "U" %}'>
</head>
<body>

    <div class="navbar">
        <div class="logo"><a>secondary school placement system</a></div>
        <a href="/dashboard">Dashboard</a>
        <a href="/school">Schools</a>
        <a href="">change information</a>  
        <div class="logout"><a href="/pupil_login">logout</a></div>
    </div>
    <div class="container">
        
        <nav class="sidebar">
            <ul>
                <li><a href="/application_form">New Application</a></li>
                <li><a href="#">Edit/Update Application</a></li>
                <li><a href="/check-status">View Application status</a></li>
            </ul>
        </nav>

        <main class="dashboard-content">
            
            <section id="overview" class="dashboard-section">
                <div class="welcome-message">
                    <p>Welcome {{ pupil.name}}</p>
                </div> 
                <div class="main-content">
                    <div class="school-placement">      
                        <p><strong>Name: </strong> <span>{{ pupil.name }}</span></p>
                        <p><strong>Email:</strong> <a href="mailto:{{ pupil.email }}"><span>{{ pupil.email }}</span></a></p>
                        <p><strong>Phone:</strong> <span>{{ pupil.contact }}</span></p>
                        <p><strong>Address:</strong> <span>{{ pupil.home_address }}</span></p> 
                        <p><strong>Grade:</strong><span>{{ pupil.grade }}</span></p>
                        <p><strong>Joined: </strong><span>{{ pupil.date_joined }}</span></p>
                    </div>
                </div>
                <div class="stats">
                          
                </div>
            </section>

        </main>
    </div>

    <!-- Footer -->
    <footer>
        <p>Contact Us: <a href="mailto:schoolservices3@gmail.com" class="dec">schoolservices3@gmail.com</a></p>
        <p>© 2024 School Placement System</p>
    </footer>
</body>
</html>

